
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea
.metadata
.tm-build/
.vscode/

# Flutter/Dart
.dart_tool/
.packages
build/
ios/Pods/
pubspec.lock

# Firebase
lib/firebase_options.dart
